<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author list</title>
</head>
<body>
    <h1>List of all authors:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Author</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">123</td>
            <td th:text="${book.title}">MARIO</td>
            <td th:text="${book.isbn}">ROSSI</td>
            <td th:text="${book.author.name}">nome autore</td>
        </tr>
    </table>
</body>
</html>